body {
    background-color: #f5f8ff;
    font-family: Inter, sans-serif;
}

header {
    background-image: url('../Assets/Hero-bg.png');
    padding: 0 150px;
    height: 698px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.logo {
    font-size: 34px;
    font-weight: 800;
    color: #4e47ff;
}

.btn {
    background-color: #4D47FF;
    font-family: "Raleway", sans-serif;
    color: white;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff5a28;
    color: #ffffff;
    box-shadow: #8987A1 0px 0px 10px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.banner-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}

main {
    margin: 0 98px;
}

.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    height: 328px;
    
}

.action-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 42px;
   
}

.action-text {
    padding-right: 100px;
     width: 517px;
}

.action-text > p {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: #8D8E98;
}
.action-image {
    border-radius: 50px;
}



