body {
    background-color: #f5f8ff;
    font-family: Inter, sans-serif;
}

header {
    background-image: url('../Assets/Hero-bg.png');
    padding: 0 150px;
    height: 698px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.logo {
    font-size: 34px;
    font-weight: 800;
    color: #4e47ff;
}

.btn {
    background-color: #4D47FF;
    font-family: "Raleway", sans-serif;
    color: white;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff5a28;
    color: #ffffff;
    box-shadow: #8987A1 0px 0px 10px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.banner-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}

main {
    margin: 0 98px;
    background-color:#f5f8ff;
}

.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    height: 328px;
    
}

.action-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
   
}

.action-text {
    padding-right: 100px;
     width: 517px;
}

.action-text > p {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #00000080;
   
}
.action-image {
    border-radius: 50px;
}

.sats-section {
    margin-top: 130px;
    background-color: rgba(228, 230, 255, 1);
    padding: 50px 50px;
    border-radius: 25px;
    text-align: center;
}
.sats-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.sats-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 30px;
    color:#252432
}
.sats-item-title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #4D47FF;
}
.sats-item-text {
    padding-top: 2px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #00000080;
}
.feedback-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-top: 130px;
    color: #252432;
}

.feedbacks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feedback {
    background-color: #FAFCFF;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.star {
    margin-right: 5px;
}
.feedback h3 {
    font-weight: bold;
    margin-top: 15px;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.feedback-user {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #8D8E98;
    flex-wrap: wrap;
}
.margin-right {
    margin-right: 20px;
}

.focus-section {
    margin-top: 130px;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.focus-text {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #8D8E98;
}

.focus-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #000000;
}

.focus-image {
    border-radius: 50px;
}

.contact-section {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}

.contact-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 97px;
    color: #000000;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input[type="email"], input[type="text"], textarea {
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.submit {
    padding: 25px;
}

::placeholder {
    color: #8D8E98;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

label {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: normal;
}


